*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  font-size: 16px;
}

:root {
  --raisin-black-2: #23222f;
  --raisin-black-1: #292839;
  --majorelle-blue: #5c50dc;
  --ghost-white-1: #fafaff;
  --ghost-white-2: #f0f2fa;
  --white-opacity: #ffffff80;
  --independence: #3b3951;
  --lavender-web: #ece9fb;
  --eerie-black: #22262a;
  --cool-gray: #8d8bac;
  --sapphire: #0056b3;
  --white: #ffffff;
  --ff-quicksand: "Quicksand", sans-serif;
  --ff-mulish: "Mulish", sans-serif;
  --fs-1: 2.25rem;
  --fs-2: 1.75rem;
  --fs-3: 1.25rem;
  --fs-4: 1.063rem;
  --fs-5: 1rem;
  --fs-6: 0.938rem;
  --fs-7: 0.875rem;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --transition: 0.25s ease;
  --section-padding: 5rem;
}

body {
  font-size: 1rem;
  font-family: var(--ff-quicksand);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--ff-mulish);
  font-weight: var(--fw-600);
  color: var(--independence);
  text-transform: capitalize;
}

p {
  color: var(--cool-gray);
  font-size: var(--fs-6);
  line-height: 1.794rem;
}

a {
  text-decoration: none;
}

input, textarea {
  font-family: var(--ff-mulish);
  font-size: var(--fs-7);
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  border-radius: 5px;
  transition: var(--transition);
  font-size: var(--fs-6);
  font-family: var(--ff-quicksand);
  font-weight: var(--fw-700);
  text-transform: capitalize;
}
.btn--blue {
  border: 1px solid var(--majorelle-blue);
  background-color: var(--majorelle-blue);
  color: var(--white);
}
.btn--blue:hover, .btn--blue:focus {
  transform: translateY(-5px);
  border: 1px solid var(--sapphire);
  background-color: var(--sapphire);
  box-shadow: 0px 0px 13px 3px rgba(92, 80, 220, 0.1);
}
.btn--lavender {
  border: 1px solid var(--lavender-web);
  background-color: var(--lavender-web);
  color: var(--majorelle-blue);
}
.btn--lavender:hover, .btn--lavender:focus {
  transform: translateY(-5px);
  box-shadow: 0px 0px 13px 3px rgb(236, 233, 251);
}
.btn--tranparent {
  border: 1px solid var(--majorelle-blue);
  background-color: transparent;
  color: var(--majorelle-blue);
}
.btn--tranparent:hover, .btn--tranparent:focus {
  transform: translateY(-5px);
  border: 1px solid var(--sapphire);
  background-color: var(--sapphire);
  color: var(--white);
  box-shadow: 0px 0px 13px 3px rgba(92, 80, 220, 0.1);
}

.header--bg {
  background-color: var(--white);
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
}
.header__main {
  padding: 20px 0 10px;
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .header__main {
    max-width: 1000px;
  }
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.header__top--burger {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
  background-color: transparent;
}
.header__top--bar {
  background-color: var(--raisin-black-2);
  width: 23px;
  height: 2px;
}
.header__nav {
  flex: 1 1 100%;
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: var(--transition);
  opacity: 0;
}
.header__nav.show {
  opacity: 1;
  height: 300px;
}
.header__nav--menu {
  margin-bottom: 22px;
}
.header__nav--menu, .header__nav--user {
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.header__nav--link, .header__nav--login, .header__nav--register {
  color: var(--cool-gray);
  transition: var(--transition);
  font-weight: 600;
  text-transform: capitalize;
}
.header__nav--link:hover, .header__nav--link:focus, .header__nav--login:hover, .header__nav--login:focus, .header__nav--register:hover, .header__nav--register:focus {
  color: var(--majorelle-blue);
}
@media screen and (min-width: 992px) {
  .header__main {
    padding: 20px 0;
  }
  .header__top--burger {
    display: none;
  }
  .header__top--brand {
    display: block;
    width: auto;
  }
  .header__nav {
    width: 72%;
    flex: none;
    height: unset;
    overflow: initial;
    flex-direction: row;
    justify-content: space-between;
    opacity: 1;
  }
  .header__nav.show {
    opacity: 1;
    height: unset;
  }
  .header__nav--menu {
    margin-bottom: 0;
  }
  .header__nav--menu, .header__nav--user {
    flex-direction: row;
    gap: 36px;
  }
}

.home--bg {
  background-color: var(--ghost-white-1);
  padding: 67px 0;
}
.home__main {
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas: "articulo" "bgHero";
  gap: 25px;
}
@media screen and (min-width: 1200px) {
  .home__main {
    max-width: 1000px;
  }
}
.home__article {
  grid-area: articulo;
}
.home__article--firstheading {
  font-size: var(--fs-1);
  font-weight: var(--fw-700);
  margin-bottom: 30px;
}
.home__article--paragraph {
  margin-bottom: 56px;
  font-size: 17px;
}
.home__article--secondparagraph {
  color: var(--independence);
  margin-bottom: 23px;
}
.home__article--img {
  display: inline-block;
}
.home__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.home__form--box {
  width: 100%;
}
.home__form--box:first-child {
  height: 55px;
  background-color: var(--lavender-web);
}
.home__form--box:last-child {
  display: flex;
  justify-content: center;
}
.home__form--input {
  width: 100%;
  height: inherit;
  padding-left: 15px;
  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 3px;
}
.home__picture {
  grid-area: bgHero;
}
.home__picture--img {
  display: block;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .home__main {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "articulo bgHero";
    gap: 50px;
    align-items: center;
  }
  .home__article {
    grid-area: articulo;
  }
  .home__article--firstheading {
    margin-bottom: 25px;
  }
  .home__article--paragraph {
    margin-bottom: 48px;
  }
  .home__form {
    flex-direction: row;
    gap: 0;
    background-color: var(--lavender-web);
    padding: 5px 5px;
    border-radius: 5px;
  }
  .home__form--box:first-child {
    width: 60%;
    height: 50px;
  }
  .home__form--box:last-child {
    width: 40%;
    justify-content: flex-end;
  }
  .home__picture {
    grid-area: bgHero;
  }
}
@media screen and (min-width: 1200px) {
  .home--bg {
    padding: 76px 0;
  }
  .home__main {
    gap: 180px;
  }
  .home__article--firstheading {
    font-size: 50px;
  }
}

.about__main {
  padding: 80px 0;
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .about__main {
    max-width: 1000px;
  }
}
.about__middle {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas: "cardOne" "cardTwo" "cardThree" "cardFour" "cardFive";
  gap: 28px;
}
.about__middle--item:nth-child(1) {
  grid-area: cardOne;
}
.about__middle--item:nth-child(2) {
  grid-area: cardTwo;
}
.about__middle--item:nth-child(3) {
  grid-area: cardThree;
}
.about__middle--item:nth-child(4) {
  grid-area: cardFour;
}
.about__middle--item:nth-child(5) {
  grid-area: cardFive;
}
.about__middle--card {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  border-radius: 5px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
  transition: var(--transition);
}
.about__middle--picture {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--lavender-web);
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.about__middle--item:first-child .about__middle--picture {
  border-radius: 2px;
}
.about__middle--item:first-child .about__middle--article {
  text-align: left;
}
.about__middle--item:first-child .about__middle--secondheading {
  margin-top: 18px;
}
.about__middle--item:first-child .about__middle--btn {
  align-self: flex-start;
}
.about__middle--picture ion-icon {
  color: var(--majorelle-blue);
  font-size: var(--fs-2);
  position: relative;
  left: -1px;
}
.about__middle--article {
  display: flex;
  flex-direction: column;
  gap: 25px;
  text-align: center;
}
.about__middle--card:hover {
  background-color: var(--majorelle-blue);
  transform: translateY(-10px);
}
.about__middle--card:hover .about__middle--middleheading {
  color: var(--white);
}
.about__middle--card:hover .about__middle--description {
  color: var(--ghost-white-1);
}
.about__middle--card:hover .about__middle--picture {
  background-color: #746AE1;
  box-shadow: 0 0 0 10px rgba(116, 106, 225, 0.5568627451);
}
.about__middle--card:hover .about__middle--picture ion-icon {
  color: var(--white);
}
@media screen and (min-width: 768px) {
  .about__middle {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "cardOne cardOne" "cardTwo cardThree" "cardFour cardFive";
    gap: 28px;
  }
  .about__middle--item:nth-child(1) {
    grid-area: cardOne;
  }
  .about__middle--item:nth-child(2) {
    grid-area: cardTwo;
  }
  .about__middle--item:nth-child(3) {
    grid-area: cardThree;
  }
  .about__middle--item:nth-child(4) {
    grid-area: cardFour;
  }
  .about__middle--item:nth-child(5) {
    grid-area: cardFive;
  }
}
@media screen and (min-width: 992px) {
  .about__middle {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "cardOne cardTwo cardFour" "cardOne cardThree cardFive";
    align-items: center;
  }
  .about__middle--item:nth-child(1) {
    grid-area: cardOne;
    margin-right: 50px;
  }
  .about__middle--item:nth-child(2) {
    grid-area: cardTwo;
  }
  .about__middle--item:nth-child(3) {
    grid-area: cardThree;
  }
  .about__middle--item:nth-child(4) {
    grid-area: cardFour;
    position: relative;
    top: -40px;
  }
  .about__middle--item:nth-child(5) {
    grid-area: cardFive;
    position: relative;
    top: -40px;
  }
}

.feature--bg {
  background-color: var(--ghost-white-1);
  padding: 67px 0;
}
.feature__main {
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .feature__main {
    max-width: 1000px;
  }
}
.feature__top {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-bottom: 71px;
}
.feature__top--secondheading {
  font-size: var(--fs-2);
}
.feature__article {
  display: flex;
  flex-direction: column;
  gap: 44px;
}
.feature__article--img {
  display: block;
  width: 100%;
}
.feature__article--secondheading {
  font-size: var(--fs-2);
  margin-bottom: 37px;
}
.feature__article--title {
  font-family: var(--ff-quicksand);
  text-transform: uppercase;
  color: var(--eerie-black);
  font-weight: var(--fw-500);
  margin-bottom: 26px;
}
.feature__article--title ion-icon {
  color: var(--majorelle-blue);
}
.feature__article--paragraph {
  margin-bottom: 30px;
}
.feature__article--menu {
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin-bottom: 40px;
}
.feature__article--list {
  color: var(--cool-gray);
}
.feature__article--buttongroup {
  display: flex;
  gap: 10px;
}
.feature__article:nth-of-type(1) {
  margin-bottom: 79px;
}
@media screen and (min-width: 992px) {
  .feature__top {
    max-width: 450px;
    margin: 0 auto 71px;
  }
  .feature__article {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 90px;
  }
  .feature__article--secondheading {
    line-height: 40px;
  }
  .feature__article:nth-of-type(1) {
    margin-bottom: 166px;
  }
}

.news__main {
  padding: 67px 0;
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .news__main {
    max-width: 1000px;
  }
}
.news__top {
  margin-bottom: 42px;
  display: flex;
  flex-direction: column;
  gap: 33px;
  text-align: center;
}
.news__top--secondheading {
  font-size: var(--fs-2);
  font-weight: var(--fw-600);
}
.news__middle {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas: "cardOne" "cardTwo" "cardThree";
  gap: 33px;
}
.news__middle--item:nth-child(1) {
  grid-area: cardOne;
}
.news__middle--item:nth-child(2) {
  grid-area: cardTwo;
}
.news__middle--item:nth-child(3) {
  grid-area: cardThree;
}
.news__middle--img {
  display: block;
  width: 100%;
}
.news__middle--information {
  margin-top: 23px;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--cool-gray);
}
.news__middle--date, .news__middle--author {
  display: flex;
  align-items: center;
  gap: 5px;
}
.news__middle--title {
  text-transform: uppercase;
}
.news__middle--middleheading {
  font-size: var(--fs-3);
  margin-bottom: 8px;
}
.news__middle--description {
  margin-bottom: 23px;
}
.news__middle--cta {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  gap: 5px;
  color: var(--majorelle-blue);
  font-weight: var(--fw-600);
  transition: var(--transition);
}
.news__middle--cta:hover, .news__middle--cta:focus {
  color: var(--sapphire);
  gap: 10px;
}
@media screen and (min-width: 992px) {
  .news__top {
    max-width: 450px;
    margin: 0 auto 71px;
  }
  .news__middle {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "cardOne cardTwo cardThree";
    gap: 25px;
  }
  .news__middle--item:nth-child(1) {
    grid-area: cardOne;
  }
  .news__middle--item:nth-child(2) {
    grid-area: cardTwo;
  }
  .news__middle--item:nth-child(3) {
    grid-area: cardThree;
  }
}

.contact--bg {
  background-color: var(--ghost-white-1);
}
.contact__main {
  padding: 67px 0;
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .contact__main {
    max-width: 1000px;
  }
}
.contact__top {
  margin-bottom: 42px;
  display: flex;
  flex-direction: column;
  gap: 33px;
  text-align: center;
}
.contact__top--secondheading {
  font-size: var(--fs-2);
  font-weight: var(--fw-600);
}
.contact__middle {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas: "formulario" "articulo";
  gap: 52px;
}
.contact__middle--form {
  grid-area: formulario;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.contact__middle--box {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.contact__middle--box:last-child {
  display: flex;
  align-items: center;
}
.contact__middle--title {
  text-transform: capitalize;
}
.contact__middle--input {
  height: 39px;
  width: 100%;
  padding: 10px 20px;
  background-color: var(--lavender-web);
  color: var(--cool-gray);
  border: none;
  outline: none;
  border-radius: 5px;
}
.contact__middle--input:focus-visible {
  color: var(--raisin-black-2);
}
.contact__middle--textarea {
  height: 97px;
  width: 100%;
  padding: 10px 20px;
  background-color: var(--lavender-web);
  color: var(--cool-gray);
  border: none;
  outline: none;
  border-radius: 5px;
  resize: none;
}
.contact__middle--textarea:focus-visible {
  color: var(--raisin-black-2);
}
.contact__middle--btn {
  display: flex;
  align-items: center;
  gap: 10px;
}
.contact__middle--article {
  grid-area: articulo;
}
.contact__middle--menu {
  display: flex;
  flex-direction: column;
  gap: 27px;
}
.contact__middle--list {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--cool-gray);
}
.contact__middle--list ion-icon {
  font-size: var(--fs-3);
}
.contact__middle--link {
  color: var(--cool-gray);
  text-transform: lowercase;
}
.contact__middle--link:last-child {
  text-transform: capitalize;
}
@media screen and (min-width: 992px) {
  .contact__top {
    max-width: 450px;
    margin: 0 auto 71px;
  }
  .contact__middle {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "formulario formulario articulo";
    gap: 80px;
    align-items: center;
  }
  .contact__middle--form {
    grid-area: formulario;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .contact__middle--article {
    grid-area: articulo;
  }
  .contact__middle--box:nth-child(1) {
    flex: 1 1 42%;
  }
  .contact__middle--box:nth-child(2) {
    flex: 1 1 42%;
  }
  .contact__middle--box:nth-child(3) {
    flex: 1 1 100%;
  }
  .contact__middle--box:last-child {
    align-items: flex-start;
  }
  .contact__middle--btn {
    padding: 16px 30px;
  }
}

.footer__top--bg {
  background-color: var(--raisin-black-1);
}
.footer__top--main {
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
  padding: 79px 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas: "itemOne" "itemTwo" "itemThree" "itemFour";
  gap: 67px;
}
@media screen and (min-width: 1200px) {
  .footer__top--main {
    max-width: 1000px;
  }
}
.footer__top--item:nth-child(1) {
  grid-area: itemOne;
}
.footer__top--item:nth-child(2) {
  grid-area: itemTwo;
}
.footer__top--item:nth-child(3) {
  grid-area: itemThree;
}
.footer__top--item:nth-child(4) {
  grid-area: itemFour;
}
.footer__top--middleheading {
  color: var(--white);
  font-size: var(--fs-3);
  margin-bottom: 37px;
  text-transform: uppercase;
}
.footer__top--brand {
  display: inline-block;
  margin-bottom: 31px;
}
.footer__top--paragraph {
  margin-bottom: 31px;
}
.footer__top--socialnetwork {
  display: flex;
  gap: 14px;
}
.footer__top--sc ion-icon {
  font-size: var(--fs-2);
  color: var(--cool-gray);
  transition: var(--transition);
}
.footer__top--sc:hover ion-icon, .footer__top--sc:focus ion-icon {
  color: var(--white);
}
.footer__top--menu {
  display: flex;
  flex-direction: column;
  gap: 27px;
}
.footer__top--link {
  color: var(--cool-gray);
  text-transform: capitalize;
  transition: var(--transition);
}
.footer__top--link:hover, .footer__top--link:focus {
  color: var(--white);
  padding-left: 15px;
}
.footer__bottom--bg {
  background-color: var(--raisin-black-2);
}
.footer__bottom--main {
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
  padding: 22px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__bottom--main {
    max-width: 1000px;
  }
}
.footer__bottom--cta {
  color: var(--cool-gray);
  transition: var(--transition);
}
.footer__bottom--cta:hover, .footer__bottom--cta:focus {
  color: var(--white);
}
@media screen and (min-width: 768px) {
  .footer__top--main {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "itemOne itemOne itemOne" "itemTwo itemThree itemFour";
    gap: 67px;
  }
  .footer__top--item:nth-child(1) {
    grid-area: itemOne;
  }
  .footer__top--item:nth-child(2) {
    grid-area: itemTwo;
  }
  .footer__top--item:nth-child(3) {
    grid-area: itemThree;
  }
  .footer__top--item:nth-child(4) {
    grid-area: itemFour;
  }
}
@media screen and (min-width: 992px) {
  .footer__top--main {
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "itemOne itemOne itemTwo itemThree itemFour";
    gap: 20px;
  }
  .footer__top--item:nth-child(1) {
    grid-area: itemOne;
  }
  .footer__top--item:nth-child(2) {
    grid-area: itemTwo;
  }
  .footer__top--item:nth-child(3) {
    grid-area: itemThree;
  }
  .footer__top--item:nth-child(4) {
    grid-area: itemFour;
  }
}/*# sourceMappingURL=main.css.map */